body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}
#empl-list {
    margin-top: 20px;
}

#empl-list .glyphicon {

    padding-right: 10px;
    cursor: pointer;
}